<link rel="import" href="/assets/bower/polymer/polymer.html">

<!-- Iron components -->
<link rel="import" href="/assets/bower/iron-localstorage/iron-localstorage.html">
<link rel="import" href="/assets/bower/iron-ajax/iron-ajax.html">
<link rel="import" href="/assets/bower/iron-icon/iron-icon.html">
<link rel="import" href="/assets/bower/iron-icons/iron-icons.html">
<link rel="import" href="/assets/bower/iron-form/iron-form.html">
<link rel="import" href="/assets/bower/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/assets/bower/iron-pages/iron-pages.html">
<link rel="import" href="/assets/bower/iron-selector/iron-selector.html">



<!-- Paper material components -->
<link rel="import" href="/assets/bower/paper-material/paper-material.html">
<link rel="import" href="/assets/bower/paper-item/all-imports.html">
<link rel="import" href="/assets/bower/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/assets/bower/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/assets/bower/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/assets/bower/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/assets/bower/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/assets/bower/paper-menu/paper-menu.html">
<link rel="import" href="/assets/bower/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="/assets/bower/paper-styles/paper-styles-classes.html">
<link rel="import" href="/assets/bower/paper-toast/paper-toast.html">
<link rel="import" href="/assets/bower/paper-button/paper-button.html">
<link rel="import" href="/assets/bower/paper-input/all-imports.html">
<link rel="import" href="/assets/bower/paper-dialog/paper-dialog.html">

<!-- Third party components -->
<link rel="import" href="/assets/bower/polymer-paper-datepicker/paper-date-picker.html">

<!-- Custom componentes -->
<link rel="import" href="/assets/css/theme.html">
<link rel="import" href="/webcomponents/task-box-element.html">
<link rel="import" href="/webcomponents/task-list-element.html">
<link rel="import" href="/webcomponents/task-form-element.html">
<link rel="import" href="/webcomponents/task-element.html">
