<dom-module id="task-element">
	<template>
		<paper-item>
			<paper-icon-button id="importantIcon" icon on-click="important"></paper-icon-button>
			<paper-item-body two-line>
					<div>{{item.name}}</div>
					<div secondary>{{item.date}}</div>
			</paper-item-body>
			<paper-checkbox item-icon id="checkbox" on-change="done" ></paper-checkbox>
			<paper-icon-button icon="delete" on-click="delete"></paper-icon-button>
		</paper-item>
	</template>
	<script>
	Polymer({
		is: "task-element",
		behaviors: [
	      Polymer.NeonAnimationRunnerBehavior
	    ],
		properties: {
			index: Number,
			item: Object,
			tasklist: Object,
		},
		ready : function(){
			this.$.checkbox.checked = this.item.done;
			this.$.importantIcon.icon = !this.item.important ? 'star-border' : 'star'
		},

		done: function(e) {
			var checkbox = e.target;
			this.item.done = checkbox.checked;
			this._save();
		},

		important: function(){
			this.item.important = !this.item.important;
			this.$.importantIcon.icon = !this.item.important ? 'star-border' : 'star'
			this._save();
		},

		delete: function(){
			this.tasklist.removeItem(this);
		},
		_save: function(){
			this.tasklist.saveItem(this);
		}
	});
	</script>
</dom-module>
