<dom-module id="task-box-element">
	<style>
	</style>
	<template>
		<iron-localstorage name="todo-storage" value="{{data}}" on-iron-localstorage-load-empty="initializeDefault"></iron-localstorage>
		<paper-material elevation="1" class="card">
			<task-form-element taskbox={{self}} ></task-form-element>
		</paper-material>
		<iron-ajax id="getDataRequest" handle-as="json" url="{{source}}" last-response="{{data}}"></iron-ajax>
		<paper-material elevation="1" class="card">
			<task-list-element id="tasklist" tasks="{{data}}"></task-list-element>
		</paper-material>
	</template>

	<script>
	Polymer({
		is: "task-box-element",
		properties: {
			source: String,
			data: Object,
			self : Object,
		},
		initializeDefault : function(){
			this.$.getDataRequest.generateRequest();
		},
		ready: function() {
			this.self = this;
		}
	});
	</script>
</dom-module>
