<dom-module id="task-form-element">
	<style>
		#form .field{
			margin-right: 15px;
		}
		#form .field paper-button{
			margin-top: 10px;
		}
	</style>
	<template>
			<form is="iron-form" id="form" on-submit="submitForm">
				<div class="horizontal center-justified layout">
					<div class="flex-3 field">
						<paper-input on-tap="showDatePicker" placeholder="MM/DD/YYYY" id="taskdue" label="Due"></paper-input>
					</div>
					<div class="flex-8 field">
						<paper-input id="taskname" read-only required label="Task description"></paper-input>
					</div>
					<div class="flex-1 field">
						<paper-button tabindex="0" on-click="submitForm">
							<iron-icon icon="check"></iron-icon> Add
						</paper-button>
					</div>
				</div>
			</form>

			<paper-dialog id="datepicker" class="paper-date-picker-dialog" modal on-iron-overlay-closed="closeDatePicker">
			  <paper-date-picker id="picker" responsive-width="655px"></paper-date-picker>
			  <div class="buttons">
				<paper-button dialog-dismiss>Cancel</paper-button>
				<paper-button dialog-confirm>OK</paper-button>
			  </div>
			</paper-dialog>
	</template>

	<script>
	Polymer({
		is: "task-form-element",
		properties: {
			source: String,
			item : {
				type: Object,
				value: { name : '', date: '', done: 0}
			},
			taskbox : Object
		},

		submitForm: function(){
			if (this.$.taskname.value.length == 0) return;
			var due = moment(this.$.taskdue.value).format("MM/DD/YYYY");
			var task = {
				name : this.$.taskname.value,
				date : due ? due :  moment().day(1).format("MM/DD/YYYY"),
				done: 0
			}
			this.$.taskname.value = '';
			this.taskbox.$.tasklist.addItem(task);
			return false;
		},

		closeDatePicker : function(event) {
			if (event.detail.confirmed) {
				this.$.taskdue.value = moment(this.$.picker.date).format("MM/DD/YYYY");
			}
		},

		showDatePicker: function(){
			this.$.datepicker.toggle();
		},

		ready: function() {
			// Set 1 day for default
			this.$.taskdue.value =  moment().add(1, 'days').format("MM/DD/YYYY");
		}
	});
	</script>
</dom-module>
