<dom-module id="task-list-element">
	<template>
		<template is="dom-repeat" items="{{tasks}}">
			<task-element index={{index}} item={{item}} tasklist={{self}}></task-element>
		</template>
	</template>
	<script>
	Polymer({
		is: "task-list-element",
		properties: {
			tasks: Object,
			self: Object
		},
		observers: [
			'_dataChanged(tasks.*)'
		],
		_dataChanged: function(d){
			if (d.path == "tasks.splices"){
				//Add or remove
				console.log(d);
			}
		},
		addItem: function(item){
			this.unshift('tasks', item);
		},
		saveItem: function(item){
			console.log("From Task List:");
			this.set('tasks.' + item.index, item.item);
		},
		removeItem: function(item){
			this.splice('tasks', item.index, 1);
		},
		ready : function(){
			this.self = this;
		}
    });
	</script>
</dom-module>
