body{
		background:	#fafafa;
		font-family:	'Roboto',	'Helvetica	Neue',	Helvetica,	Arial,	sans-serif;
		color:	#333;
}

.content{
	padding: 30px 60px;
}

paper-material.card {
	border-radius: 2px;
	height: 100%;
	padding: 16px 30px 16px 30px;
	width: calc(60% - 16px);
	margin: 16px auto 32px auto;
	background: white;
}
